{% extends 'style.html' %}
{% block body_block %}
{% load static %}
</div>
<style>
  /* Container styles */
 
  /* Heading styles */
 

  /* Form styles */
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 

  button[type="submit"] {
    padding: 5px 10px;
      margin-left: 5px;
      margin-top: 3px;
      border: none;
      cursor: pointer;
      border-radius: 50px;
      background-color: #ffbe33;
      color: white;
      margin-bottom: 20px;
  }

  button[type="submit"]:hover {
      background-color: #0056b3;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
</style>
<!-- food section -->

<body class="sub_page">
  <div class="hero_area">
    <div class="bg-box">  
    </div>
  </div>

  <body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
 
{% endblock %}
